
<!DOCTYPE html>
<html>
<head>
<title>Guess Who</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<h1>Guess Who</h1>
<div id="game">
<div id="friend-list">
<h2>Friend List</h2>
<ul>
<li>Friend 1</li>
<li>Friend 2</li>
<li>Friend 3</li>
</ul>
</div>
<div id="opponent-list">
<h2>Opponent</h2>
<ul>
<li>Friend 1</li>
<li>Friend 2</li>
<li>Friend 3</li>
</ul>
</div>
<div id="photo">
<img src="static/photos/friend1.jpg" alt="Friend 1">
</div>
<div id="questions">
<h2>Questions</h2>
<ul>
<li>Is the person male or female?</li>
<li>Does the person have brown hair?</li>
<li>Does the person wear glasses?</li>
</ul>
</div>
<div id="hints">
<h2>Hints</h2>
<ul>
<li>The person is female.</li>
<li>The person has brown hair.</li>
<li>The person does not wear glasses.</li>
</ul>
</div>
<div id="score">
<h2>Score</h2>
<ul>
<li>You: 0</li>
<li>Opponent: 0</li>
</ul>
</div>
<div id="controls">
<button id="ask-question">Ask Question</button>
<button id="get-hint">Get Hint</button>
<button id="submit-answer">Submit Answer</button>
</div>
</div>
</body>
</html>

