
<!DOCTYPE html>
<html>
<head>
<title>Guess Who</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<h1>Guess Who</h1>
<div id="main">
<div id="friend-list">
<h2>Friend List</h2>
<ul>
<li>Friend 1</li>
<li>Friend 2</li>
<li>Friend 3</li>
</ul>
</div>
<div id="opponent-list">
<h2>Select Opponent</h2>
<ul>
<li><input type="radio" name="opponent" value="Friend 1"> Friend 1</li>
<li><input type="radio" name="opponent" value="Friend 2"> Friend 2</li>
<li><input type="radio" name="opponent" value="Friend 3"> Friend 3</li>
</ul>
</div>
<button id="start-game">Start Game</button>
</div>
</body>
</html>


